<section class="">
    <img (click)="routeToMain()" class="logo-main" src="../../../assets/img/logo/requiem-logo.png" alt="">
    <div class=" items-center px-5 py-12 lg:px-20">
        <div class="flex flex-col w-full max-w-md p-10 mx-auto my-6 transition duration-500 ease-in-out transform bg-white rounded-lg md:mt-0">
            
            <div class="mt-8">
                <div>
                    <h2 class="mb-3 text-3xl font-extrabold text-neutral-600"> Forgot Password </h2>
                    <a style="user-select: none;" class="mt-12 text-blue-600 text-medium">Link to Reset will be sent to registered Email</a>
                </div>
                <div class="mt-6">
                    <form [formGroup]="credentials" class="space-y-6">
                        <div>
                            <label for="email" class="block text-sm font-medium text-neutral-600"> Email address
                            </label>
                            <div class="mt-1">
                                <input formControlName="email" type="email" autocomplete="email" required placeholder="Your Email" class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                            <div class="mt-1" *ngIf="credentials.controls['email'].errors && (credentials.controls['email'].dirty || credentials.controls['email'].touched)">
                                <small style="color: red;">Invalid Email</small>
                            </div>
                        </div>

                        <div>
                            <button  *ngIf="!credentials.valid" (click)="forgotPassword()" id="login" type="submit" class="cursor-not-allowed flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 "> Send Link </button>
                                <button  *ngIf="credentials.valid" (click)="forgotPassword()" id="login" type="submit" class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-500 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 "> Send Link </button>
                        </div>
                    </form>
                    <div class="relative my-4">
                        <div class="absolute inset-0 flex items-center">
                            <div class="w-full border-t border-gray-300"></div>
                        </div>
                        <div class="relative flex justify-center text-sm">
                            <span class="px-2 text-neutral-600 bg-white"> Or continue to </span>
                        </div>
                    </div>
                    <div>
                        <button (click)="routeToLogin()" type="submit" class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            Login Page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>