<header>
    <nav class="nav-wrap">
        <img class="nav-logo-img" (click)="routeToMain()" src="../../../assets/img/logo/requiem-logo.png" alt="nav-logo">
        <div (click)="toggleMenu()" [ngClass]="isMenuOpen? 'is-active' : 'success'" class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="nav-items" [class.is-open]="isMenuOpen">
            <div class="link-wrap">
                <a class="nav-item-link" href="">Events</a>
            <a class="nav-item-link" href="">Star Night</a>
            <a class="nav-item-link" href="">Sponsors</a>
            <a class="nav-item-link" href="">Contact Us</a>
            <div (click)="goToRegister()" class="nav-button-hid">
                <button class="button-bg">Log In</button>
            </div>
            </div> 
        </div>
        <div (click)="goToRegister()" class="nav-button-show">
            <button class="button-bg">Log In</button>
        </div>
    </nav>
</header>
<section class="hero">   
    <div class="star-bg">
        <div class="aurora-bg">
            <div class="opacity-wrap">
                <div class="abstract">
                    <img height="50px" width="290px"  src="../../../assets/img/main/title-sponsor.png" alt="title-sponsor">
                    <h4>PRESENTS</h4>
                    <h1>REQUIEM 3.0</h1>
                    <h2>13th - 15th October 2022</h2>
                    <div class="btn-wrap">
                        <a href="https://www.google.com/"><div class="btn-1"><p> Register for event</p></div></a>
                        <a (click)="goToRegister()"><div class="btn-1"><p> Register for event</p></div></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
</section>
